/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
/* Main container */
.container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, rgb(0, 0, 35), rgb(6, 6, 48));
}
/*  */
.wrapper {
    width: 100%;
    max-width: 940px;
    margin: 40px auto 40px;
}
.wrapper h1 {
    font-size: 50px;
}
.wrapper h3 {
    font-size: 18px;
}
.wrapper h1, h3 {
    text-align: center;
    color: aliceblue;
    line-height: 1.5;
}
/* Input & input button section */
.input-box {
    display: flex;
    border: 2px solid aliceblue;
    margin-top: 60px;

}
.input-box input {
    font-size: 20px;
    flex: 1;
    background: transparent;
    color: aliceblue;
}
.inputBtn {
    background: aliceblue;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
.inputBtn:hover {
    text-shadow: 0px 0px 1px;
}

.input-box input, .inputBtn {
    padding: 15px;
    border: none;
    outline: none;
}
/* Characters button section */
.btn-box {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 40px;
}

.btn-box button {
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
}
.btn-box button.active {
    background: #9bee20;
    box-shadow: 1px 1px 2px #99ff00;
}

.btn-box button:hover {
    /* transform: translateY(-10px); */
    transform: scale(1.2);
}
.box {
    height: 70px;
}

.box h2 {
    color: aliceblue;
    margin-top: 45px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 45px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1px;
}

small.status-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;

}

small.status-txt {
    font-size: 20px;
}

/* for poor password status */
small.status-circle.poor {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: crimson;

}
small.status-txt.poor-txt {
    color: crimson;
    visibility: visible;
}
/* for medium  password status */
.status-circle.medium {
    background: #ffa200;
}
small.status-txt.medium-txt {
    color: #ffa200;
    visibility: visible;
}
/* for strong password status */
.status-circle.strong {
    background: #adff2f;
}
small.status-txt.strong-txt {
    color: #adff2f;
    visibility: visible;
}
/* Very strong password status */
.status-circle.very-strong {
    background: #00ce00;
}
small.status-txt.very-strong-txt {
    color: #00ce00;
    visibility: visible;
}
